* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #f0f0f0;

}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.box {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.box button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.asdf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.back-button {
    text-align: center;
    display: block;
    width: 10%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: 100;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.box button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 19px;
    width: 100%;
    font-size: 14px;
    color: #888;
}


